{{- define "main" -}}
<main>
  <!-- Special Background for Home -->
  <style>
      body {
          background: url('../images/background.png'),
          rgba(119, 129, 226, 1);
          background-position: 0 0, 0 0 !important;
          background-size: 100% auto, 100% !important;
      }
  </style>
  <!-- Hero Section -->
  <section class="hero-section">
    <h1>{{ .Site.Params.hero.text }}</h1>
    <a class="links" href="/proces">{{ .Site.Params.hero.linkText }}</a>
  </section>
  <!-- Content Section -->
  <section class="about-section">
    <h3>{{ .Content }}</h3>
  </section>
  <!-- Active Post Section -->
  <section class="active-post">
    <h2>Izziv v teku</h2>
    <hr class="divider mt-1"/>

    {{- partial "post_item.html" . -}}

  </section>
  <!-- Past Posts Section -->
  <section>
    <h2 class="mb-2">Pretekle rešitve</h2>
    <hr class="divider mt-1"/>

    {{- partial "post_list.html" . -}}

  </section>
  <!-- Mentors Section -->
  <section class="mentors">
    <h3 class="mb-2_5">Multidisciplinarni projekt poteka v sodelovanju različnih mentorjev Univerze v Ljubljani:</h3>
    {{- partial "mentors.html" . -}}
  </section>

  <hr class="divider"/>

  <!-- Student List Section -->
  <section>
    <h3 class="mb-2">Sodelujoči študenti</h3>
    <div class="student-list">
      {{- partial "students.html" $.Site.Data.all_students.students -}}
    </div>
  </section>
</main>
{{- end -}}