{{- define "main" -}}
<main>
  <!-- Title and Abstract -->
  <section>
    {{ .Content }}
    <div class="metas mt-3 mb-1">ŽE VKLJUČENI ŠTUDENTI</div>
    <div>
      <h5>Študenti UL ALUO obveznih predmetov »Upravljanje v oblikovanju I in II« ste že vključeni v projekt.</h5>
      <h5>Študenti UL BF izbirnega predmeta »Trženje v agroživilskih in lesnih verigah« ste že vključeni v projekt.</h5>
      <h5>Študenti UL EF izbirnega predmeta »Ekonomika projektov« ste že vključeni v projekt.</h5>
      <h5>Študenti UL EF izbirnega predmeta »Razvoj in trženje novih izdelkov« ste že vključeni v projekt.</h5>
    </div>
  </section>
  <!-- Sodelovanje -->
  <section>
    <h2 class="mb-1">Kako lahko sodelujem</h2>
    <hr class="divider mt-0"/>
    <div class="sodelovanje-item">
      <div class="item-left">
        <div class="item-meta">študenti</div>
        <h4 class="item-title">UL FE</h4>
        <div class="item-meta">na 1. in 2. stopnji (vključno Multimedija UNI 1. stopnja)</div>
      </div>
      <div class="item-right">
        <div class="item-meta mb-1">sodelovanje</div>
        <div class="item-textgroup">
          <p class="item-text">Izpolnite Vlogo za vpis izbirnega predmeta, navedete izbirni predmet »Interdisciplinarni projekti«</p>
          <p class="item-text">Izpolnite prošnjo za Vpis zunanjih splošnih izbirnih predmetov </p>
          <p class="item-text">Obe prošnji v potrditev pošljite v referat UL FRI na mail studinfo@fri.uni-lj.si (formalno predmet teče na UL FRI, predmet pa izvajamo nosilci iz UL FE in UL FRI) </p>
          <p class="item-text">Potrjeno Vlogo za vpis izbirnega predmeta pošljite na studij@fe.uni-lj.si (s tem obvestite študijski referat FE)</p>
        </div>
      </div>
    </div>
    <hr class="divider mb"/>
    <div class="sodelovanje-item">
      <div class="item-left">
        <div class="item-meta">študenti</div>
        <h4 class="item-title">UL FRI</h4>
        <div class="item-meta">na 1. in 2. stopnji (vključno Multimedija UNI 1. stopnja)</div>
      </div>
      <div class="item-right">
        <div class="item-meta mb-1">sodelovanje</div>
        <div class="item-textgroup">
          <p class="item-text">Pri vpisu izberete splošno izbirni predmet »Interdisciplinarni projekti«.</p>
          <p class="item-text">V kolikor izbora predmeta ne morete izvesti avtomatsko ob izvedbi vpisnega postopka, lahko ob vpisu izberete Place holder predmet – »Izbrani predmet druge fakultete«.</p>
          <p class="item-text">Po elektronski pošti studinfo@fri.uni-lj.si zaprosite za ureditev predmetnika.</p>
        </div>
      </div>
    </div>
    <hr class="divider"/>
    <div class="sodelovanje-item mb-0">
      <div class="item-left">
        <div class="item-meta">študenti</div>
        <h4 class="item-title">Vseh drugih članic</h4>
        <div class="item-meta">na 1. in 2. stopnji</div>
      </div>
      <div class="item-right">
        <div class="item-meta mb-1">sodelovanje</div>
        <div class="item-textgroup">
          <p class="item-text">Izpolnite »Prošnjo za opravljanje izbirnega predmeta na drugi fakulteti« (primer za FKKT je na povezavi)</p>
          <p class="item-text">Izpolnite Vpis zunanjih splošnih izbirnih predmetov in navedete predmet »Interdisciplinarni projekti«</p>
          <p class="item-text">Obe prošnji v potrditev pošljete v referat UL FRI po elektronski pošti studinfo@fri.uni-lj.si </p>
          <p class="item-text">Potrjeno Prošnjo za opravljanje izbirnega predmeta na drugi fakulteti pošljite v vaš matični referat</p>
        </div>
      </div>
    </div>
  </section>
</main>
{{- end -}}