{{- define "main" -}}
<main>
  <!-- Title and Abstract -->
  <hr class="divider"/>
  <section class="single-post-top">
    <div class="post-item single-page">
      <div class="post-item-left">
        <div class="post-item-meta">{{ .Params.yearStart }}/{{ .Params.yearEnd }}</div>
        <h4 class="post-item-left-title">{{ .Params.Title }}</h4>
      </div>
      <div class="post-item-right">
        <div class="post-item-meta">IZZIV</div>
        <p class="post-item-right-abstract">{{ .Params.abstract }}</p>
      </div>
    </div>
  </section>
  <hr class="divider mt-6"/>

  {{- with .Params.ytLink -}}
  <!-- Video predstavitve -->
  <div class="post-section-title metas">VIDEO PREDSTAVITEV</div>
  <section class="post-yt-section">
    <div class="post-video-embed">
      <iframe src="{{ . }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
  <hr class="divider"/>
  {{- end -}}

    <!-- Results -->
  {{ if .Resources.GetMatch "info.json" }}
    {{ $infoResource := (.Resources.GetMatch "info.json").RelPermalink }}
    {{ $info := getJSON "content" $infoResource }}
    {{ with $info  }}
      <div class="post-section-title metas">REZULTATI PROJEKTOV</div>
      <section>
        <div class="post-results">
          {{ range $info.results }}
            <div class="post-results-item">
              <h5 class="results-title">{{ .title }}</h5>
              <div class="results-list">
                {{ with .pitch }}<a class="results-item" href="{{ . | relURL}}">Pitch</a>{{ end }}
                {{ with .tutorial }}<a class="results-item" href="{{ . | relURL}}">Tutorial</a>{{ end }}
                {{ with .poster }}<a class="results-item" href="{{ . | relURL}}">Poster</a>{{ end }} 
              </div>
            </div>
          {{ end }}
        </div>
      </section>
      <hr class="divider"/>
    {{ end }}
  {{ end }}

  <!-- Gallery carousel -->
  {{ if .Page.Resources.ByType "image" }}
  <div class="post-section-title metas">FOTOGRAFIJE</div>
  <section class="post-gallery-section">
    <div class="post-gallery-carousel" data-flickity='{
      "cellAlign": "center", "pageDots": false,
      "imageProcessed": true, "fullscreen": true,
      "wrapAround": true, "freeScroll": true,
      "setGallerySize": false, "imagesLoaded": true,
      "arrowShape": "M 8.8067 49.92 l 31.3123 25.9376 l -2.679 3.1824 l -37.44 -31.2874 l 37.44 -31.1126 l 2.6832 3.1782 l -31.3206 25.9418 h 91.0374 v 4.16 h -91.0333 z"
      }'>
      {{ range .Page.Resources.ByType "image"}}
        <div class="carousel-cell">
          <img src="{{ .RelPermalink }}" alt="{{ .Params.alt }}"/>
        </div>
      {{ end }}
    </div>
  </section>
  <hr class="divider"/>
  {{ end }}

  <!-- Partners and info -->
  {{ if .Resources.GetMatch "info.json" }}
    {{ $infoResource := (.Resources.GetMatch "info.json").RelPermalink }}
    {{ $info := getJSON "content" $infoResource }}
    {{ with $info  }}
      <section class="post-info">
        <div class="post-info-left">
          <div class="post-info-partners mb-3">
            <div class="metas mb-1">ČLANICE</div>
            {{ range $info.faculties }}
              <h5>{{ . }}</h5>
            {{ end }}
          </div>
          <div class="post-info-mentors">
            <div class="metas mb-1">NOSILCI</div>
            {{ range $info.mentors }}
            <div class="post-mentor-item">
              <h5 class="post-mentor-name">{{.name}}</h5>
              <div class="post-mentor-info p3">
                Predmet: {{.subject}},<br>{{.faculty_program}}
              </div>
            </div>
            {{ end }}
          </div>
        </div>
        <div class="post-info-right">
            <div class="metas mb-1">MNENJA SODELUJOČIH</div>
            {{ range $info.opinions }}
            <div class="post-opinion">
              <div class="post-opinion-text">
                {{ .text }}
              </div>
              <div class="post-opinion-author">
                - {{ .author }}
              </div>
            </div>
            {{ end }}
        </div>
      </section>
      <hr class="divider"/>
    {{ end }}
  {{ end }}


  <!-- Students section -->
  {{ if .Resources.GetMatch "info.json" }}
    {{ $infoResource := (.Resources.GetMatch "info.json").RelPermalink }}
    {{ $info := getJSON "content" $infoResource }}
    {{ with $info  }}
      <section>
        <div class="metas mb-1">ŠTUDENTI</div>
        <div class="post-students">
          {{ range $info.student_groups }}
            <div class="post-students-group">
              <div class="student-name">{{ .group }}</div>
              {{ range .students }}
              <div class="post-student-item">
                <div class="student-name">{{.name}}</div><div class="student-faculty">{{.faculty}}</div>
              </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </section>
    {{ end }}
  {{ end }}

</main>
{{- end -}}