{{- define "main" -}}
<main>
  <!-- Title and Abstract -->
  <hr class="divider"/>
  <section class="single-post-top">
    <div class="post-item single-page">
      <div class="post-item-left">
        <div class="post-item-meta">{{ .Params.yearStart }}/{{ .Params.yearEnd }}</div>
        <h4 class="post-item-left-title">{{ .Params.Title }}</h4>
      </div>
      <div class="post-item-right">
        <div class="post-item-meta">IZZIV</div>
        <p class="post-item-right-abstract">{{ .Params.abstract }}</p>
      </div>
    </div>
  </section>
  <hr class="divider"/>

  {{- with .Params.ytLink -}}
  <!-- Video predstavitve -->
  <section>
    YT Emmbed
  </section>
  <hr class="divider"/>
  {{- end -}}

    <!-- Results -->
  {{ if .Resources.GetMatch "info.json" }}
    {{ $infoResource := (.Resources.GetMatch "info.json").RelPermalink }}
    {{ $info := getJSON "content" $infoResource }}
    {{ with $info  }}
      <section>
        {{ $info.results }}
      </section>
      <hr class="divider"/>
    {{ end }}
  {{ end }}

  <!-- Gallery carousel -->
  {{ if .Page.Resources.ByType "image" }}
  <section>
    {{ range .Page.Resources.ByType "image"}}
      {{ .RelPermalink }}<br>
    {{ end }}
  </section>
  <hr class="divider"/>
  {{ end }}

  <!-- Partners and info -->
  {{ if .Resources.GetMatch "info.json" }}
    {{ $infoResource := (.Resources.GetMatch "info.json").RelPermalink }}
    {{ $info := getJSON "content" $infoResource }}
    {{ with $info  }}
      <section>
        {{ $info.faculties }}
        {{ $info.opinions }}
      </section>
      <hr class="divider"/>
    {{ end }}
  {{ end }}


  <!-- Students section -->
  {{ if .Resources.GetMatch "info.json" }}
    {{ $infoResource := (.Resources.GetMatch "info.json").RelPermalink }}
    {{ $info := getJSON "content" $infoResource }}
    {{ with $info  }}
      <section>
        {{- partial "students.html" $info.students -}}
      </section>
    {{ end }}
  {{ end }}

</main>
{{- end -}}