<header>
  <!-- Desktop Menu -->
  <div class="menu-dekstop">
    <div class="header-links">
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.header.logo | relURL }}" alt="Logo"/>
        <div class="links">{{ .Site.Params.header.logoText }}</div>
      </a>
    </div>
    <div class="navbar">
    {{ with .Site.Menus.main }}
    {{ $navbar_len := len . }}
      {{- range $i, $nav_item := . -}}
        <a href="{{ $nav_item.URL}}" title="{{$nav_item.Name}}">{{ $nav_item.Name }}</a>
      {{- end -}}
    {{ end }}
    </div>
  </div>
  <!-- Mobile Menu -->
  <div class="menu-mobile">
    {{ with .Site.Menus.main }}
    {{ $navbar_len := len . }}
      {{- range $i, $nav_item := . -}}
        <a class="mobile-item" href="{{ $nav_item.URL}}" title="{{$nav_item.Name}}">{{ $nav_item.Name }}</a>
      {{- end -}}
    {{ end }}
  </div>
</header>