{{ $postList := where (where .Site.RegularPages "Type" "posts") ".Params.active" "==" true}}
{{ range $postList }}
<div class="post-item">
  <div class="post-item-left">
    <div class="post-item-left-years">{{ .Params.yearStart }}/{{ .Params.yearEnd }}</div>
    <div class="post-item-left-title">{{ .Params.Title }}</div>
  </div>
  <div class="post-item-right">
    <div class="post-item-right-head">IZZIV</div>
    <div class="post-item-right-abstract">{{ .Params.abstract }}</div>
    <div class="post-item-right-link">
      <a href="{{ .Params.URL }}">Več o projektu <i class="fa-solid fa-arrow-up-right"></i></a>
    </div>
  </div>
</div>
<hr class="divider"/>
{{ end }}