{{ $postList := where (where .Site.RegularPages "Type" "posts") ".Params.active" "!=" true}}
{{ range sort $postList ".Params.yearEnd" "desc"}}
<div class="post-item">
  <div class="post-item-left">
    <div class="post-item-meta">{{ .Params.yearStart }}/{{ .Params.yearEnd }}</div>
    <h4 class="post-item-left-title">{{ .Params.Title }}</h4>
  </div>
  <div class="post-item-right">
    <div class="post-item-meta">IZZIV</div>
    <p class="post-item-right-abstract">{{ .Params.abstract }}</p>
    <a class="links post-item-link" href="{{ .Permalink }}">Več o projektu &#8599;</a>
  </div>
</div>
<hr class="divider mt-3"/>
{{end}}